body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: (45, 45, 45);
}

.formbody {
    background-image: url("Software Training Institute _ IT Training Institute in Pune/smpl-scaled.jpg");
    background-size: 100%;
}

.nav-parent {
    margin: 0;
    padding-top: 12px;
    background-color: #edf0f2;
    width: 100%;
    height: 100px;
    left: 0;
    top: 0;
}

nav {
    line-height: 40px;
}

.logo{
    width: 200px;
    text-align: left;
}
.logo img {
    float: left;
    left: 200px;
    width: 200px;
    height: 50px;
    position: relative;
}

.ul1 {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    width: 80%;
}

.ul1 li {
    text-align: center;
    text-decoration: none;
}

#fw {
    font-weight: bold;
}

.ul1 li a {
    text-decoration: none;
    padding: 25px 20px;
    color: black;
}

.call-btn {
    background-color: #1dabf2;
    margin-left: 20px;
    padding: 10px 20px !important;
    border-radius: 7px;
    color: white !important;
}

.call-btn:hover {
    border: #1dabf2 1px solid;
    background-color: white;
    color: #1dabf2 !important;
}

.dropdown-cnt {
    display: none;
    position: absolute;
    z-index: 1;
    margin-right: -20px;
    background-color: white;
    width: 250px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    border-radius: 10px;
    padding: 5px 0;
}

ul li a:hover {
    color: #1dabf2;
}

.dropdown:hover .dropdown-cnt {
    display: block;
}

.dropdown-cnt a {
    display: block;
    padding: 10px !important;
    width: 300px;
    line-height: 20px;
    color: black;
    text-align: left;
}


/* -----TITLE IMAGE------ */
.title-img-bg{
    background-color: #d9d9d9;
    display: block;
}
.title-img{
    background-image: url("Software Training Institute _ IT Training Institute in Pune/page-title-bg-1-1.jpg");
    opacity: 40%;
    position: relative;
    width: 100%;
    min-height: 250px;
    align-items: center;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.title-img-bg h1{
    position: absolute;
top: 150px;
    left: 14%;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
}


/* ----content---- */
.main-container{
    width: 100%;
    background-color: white;
}
#bg-att{
    background-image: url("Software Training Institute _ IT Training Institute in Pune/bg-att.jpeg");
}
.sub-container{
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100%;
 padding: 5% 0;
}

.content{
    text-align: left;
    padding: 15px;
    width: 40%;
    height: fit-content;
}

.content h1{
    color: black;
    font-family: "Raleway", Sans-serif !important;
    font-size: 40px;
    font-weight: 800;
}
.content p{
    color: black;
    line-height: 1.4rem;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
}



/* ----Cards---- */

.cards-main{
    background-image: linear-gradient(#2e2e2e, #b1b3b5);
}
.cards-sub{
    padding-bottom: 50px;
    display: flex;
    height: max-content;
    width: 80%;
    margin: auto;

}
.card{
    margin: 15px;
    width: 33%;
    background-color: #f5f5f5;
    border-radius: 6px;
    text-align: center;
}
.card img{
    width: 100%;
    border-radius: 6px;
}
.card-cnt{
    padding: 20px;
}
.card-cnt a{
    text-decoration: none;
    color: #fc7349;
}


/* ----FOOTER---- */
.footer-main {
    background-color: RGB(45, 45, 45);
    width: 100%;
    height: 570px;
    display: block;
}

.sub-footer {
    position: relative;
    top: 10%;
    width: 1170px;
    padding: 0 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
}

.sub-footer div {
    color: #d9d9d9;
    width: 25%;
    padding: 0 14px;
    line-height: 1.5rem;
    font-family: inherit;
    font-size: 16px;
    letter-spacing: .02rem;
}
.footer-div1 img{
    width: 200px;
    height: 50px;
}
.footer-div1 div {
    display: flex;
}

.footer-div1 div a {
    margin-top: 2px;
    color: #fff !important;
    text-align: center !important;
    display: block;
    line-height: 14px !important;
    width: 12px !important;
    height: 12px !important;
    font-size: 16px !important;
    margin-right: 15px;
    border-radius: 15px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-instagram {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    color: white;
}

.footer-div2 ul li {
    list-style-type: ">  ";
    padding: 6px 0;
    font-family: inherit;
}

.footer-div2 ul li a {
    color: #d9d9d9;
    text-decoration: none;
    transition: all .3s;
}

.footer-div2 ul li a:hover {
    color: #1dabf2;
}

.footer-div4 iframe {
    width: 300px;
    height: 200px;
}